---
import InfoLayout from "../../layouts/info.astro";
import Prose from "../../components/Prose.astro";
import Nav from "../../components/info/nav";
---

<InfoLayout>
    <p class="text-center text-lg text-gray-700 mt-4">
        Stay tuned for updates on the schedule for Furwood Campout. We'll share
        details about activities, performances, and more!
    </p>
</InfoLayout>

<style is:global></style>
