---
import RootLayout from "../layouts/index.astro";
import Carousel from "../components/carousel";
import olliePic from "../../assets/ollie.jpg";
import Card from "../components/card";
import { getCollection, render } from "astro:content";
const allPosts = await getCollection("home");
const allContent = await Promise.all(allPosts.map((post) => render(post)));
---

<RootLayout>
  <main class="flex flex-col items-center w-full p-5 gap-5">Schedule</main>
  <style is:global></style>
</RootLayout>
