---
import RootLayout from "../layouts/index.astro";
import { Content as Schedule } from "../content/info/schedule.md";
import Prose from "../components/Prose.astro";
---

<RootLayout>
  <main class="flex w-full flex-col items-center gap-5 p-5">
    <div class="rounded-lg bg-amber-100/80 p-8 shadow-md">
      <Prose>
        <Schedule />
      </Prose>
    </div>
  </main>
  <style is:global></style>
</RootLayout>
