---
import RootLayout from "../layouts/index.astro";
import Carousel from "../components/carousel";
import olliePic from "../../assets/ollie.jpg";
import Card from "../components/card";
import { Content as Booking } from "../content/booking.md";
import Prose from "../components/Prose.astro";
import { getCollection, render } from "astro:content";
const allPosts = await getCollection("home");
const allContent = await Promise.all(allPosts.map((post) => render(post)));
---

<RootLayout>
  <main class="flex flex-col items-center w-full gap-5">
    <div
      class="bg-amber-100/80 p-8 rounded-lg shadow-md text-gray-900 flex flex-col items-center justify-center"
    >
      <Prose>
        <Booking />
      </Prose>
      <!-- Ticket Tailor Widget. Paste this into your website where you want the widget to appear. Do not change the code or the widget may not work properly. -->
      <div class="tt-widget">
        <div class="tt-widget-fallback">
          <p>
            <a
              href="https://www.tickettailor.com/all-tickets/undefined/?ref=website_widget&show_search_filter=true&show_date_filter=true&show_sort=true"
              target="_blank">Click here to buy tickets</a
            ><br /><small
              ><a
                href="https://www.tickettailor.com?rf=wdg_233975"
                class="tt-widget-powered"
                >Sell tickets online with Ticket Tailor</a
              ></small
            >
          </p>
        </div><script
          src="https://cdn.tickettailor.com/js/widgets/min/widget.js"
          data-url="https://www.tickettailor.com/all-tickets/undefined/?ref=website_widget&show_search_filter=true&show_date_filter=true&show_sort=true"
          data-type="inline"
          data-inline-minimal="true"
          data-inline-show-logo="false"
          data-inline-bg-fill="false"
          data-inline-inherit-ref-from-url-param=""
          data-inline-ref="website_widget"></script>
      </div><!-- End of Ticket Tailor Widget -->
    </div>
  </main>
  <style is:global></style>
</RootLayout>
