---
import RootLayout from "../layouts/index.astro";
import { Content as HowTo } from "../content/tickets/howto.md";
import { Content as Faqs } from "../content/tickets/faqs.md";
import Prose from "../components/Prose.astro";
import TicketWidget from "../components/TicketWidget.astro";
---

<RootLayout>
  <main class="">
    <div class="grid w-full gap-5 px-2 sm:grid-cols-1 lg:grid-cols-4">
      <!-- HowTo Section -->
      <div
        class="flex flex-col rounded-lg bg-amber-100/80 p-8 text-gray-900 shadow-md lg:col-span-2"
      >
        <Prose>
          <HowTo />
        </Prose>
      </div>
      <!-- TicketWidget Section -->
      <div
        class="flex flex-col rounded-lg bg-white p-8 shadow-md lg:col-span-2 lg:row-span-2"
      >
        <TicketWidget />
      </div>
      <!-- Faqs Section -->
      <div
        id="faqs"
        class="flex flex-col rounded-lg bg-amber-100/80 p-8 text-gray-900 shadow-md lg:col-span-2"
      >
        <Prose>
          <Faqs />
        </Prose>
      </div>
    </div>
  </main>
</RootLayout>
