---
import Navbar from "../components/navbar";
import Card from "../components/card";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body
    class=`shadow-lg min-h-screen w-dvw flex flex-col gap-10 items-center justify-start p-10 stars`
  >
    <Navbar client:load />
    <Card>
      <slot />
      <style></style>
    </Card>
  </body>
</html>
