---
import RootLayout from "../layouts/index.astro";
import Nav from "../components/info/nav.astro";
---

<RootLayout>
  <main class="flex w-full flex-col items-center gap-5 p-5">
    <Nav />
    <div class="rounded-lg bg-amber-100/80 p-8 shadow-md">
      <slot />
    </div>
  </main>
</RootLayout>
